/* -----------------------------------------------------------------------*/
/* Comment Create Section Main Container */

#create-comment-main-container {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

#create-comment-commenter-container {
    display: flex;
    flex-direction: row;
    font-size: small;

    color: white;
}

#create-comment-commenter-name {
    margin-left: 5px;

    color: #3A7CA5;
}

#create-comment-commenter-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

#create-comment-form-container {
    display: flex;
    margin-top: 10px;
}

#create-comment-form {
    display: flex;
    flex-direction: column;
}

#create-comment-form-body-container {
    margin-bottom: 5px;
}


#create-comment-form-body {
    padding: 10px;

    min-height: 100px;
    width: 600px;

    border: 1px solid #343536;
    border-radius: 5px;

    resize: vertical;

    color: white;
    background-color: #1A1A1B;
}

#create-comment-form-body:focus {
    border: 1px solid white;
    outline: none;
}


#create-comment-form-button-container {
    display: flex;
    justify-content: flex-end;
}

#create-comment-error-container {
    display: flex;
    align-items: center;

    margin-right: 10px;

    font-size: 12px;
    color: #FF0000;
}

#create-comment-submit-button {
    border: none;
    border-radius: 30px;

    height: 25px;
    width: 100px;

    font-weight: bold;
}

#create-comment-submit-button:hover {
    cursor: pointer;
}


/* -----------------------------------------------------------------------*/
/* Comment Section Main Container */
#comments-section-main-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #191919;
}


/* -----------------------------------------------------------------------*/
/* Comment Section Header Container */

#comments-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#comments-section-header>* {
    margin-right: 10px;
    font-size: 12px;
    color: #818384;
}


#comments-section-poster-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* -----------------------------------------------------------------------*/
/* Profile Picture */

#comments-section-poster-profile-pic {
    border-radius: 90%;
}


/* -----------------------------------------------------------------------*/
/* Comments Section Body Container */
#comments-section-comment {
    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-bottom: 5px;

    height: 30px;
}


/* -----------------------------------------------------------------------*/
/* Comments Section Footer Container */
#comments-remove-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 35px;

    height: 30px;

    font-size: 14px;
    color: #707172;

}

#comments-remove-container>* {
    display: flex;
    flex-direction: row;

    padding: 10px;
}

#comments-remove-container>*:hover {
    cursor: pointer;
    background-color: #2C2C2E;
}

#comments-remove-no-user>*hover {
    cursor: auto;
    background-color: transparent;
}

#comments-section-vote-container {
    display: flex;
    flex-direction: row;

    margin-right: 10px;
}

.comments-footer-text {
    margin-left: 5px;
}

/* -----------------------------------------------------------------------*/
/* Comments Section No Comments */
#comments-section-no-comments {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 16px;
    color: white;
}



#test {
    background-color: white;
    margin-top: 100px;
}
