/* -----------------------------------------------------------------------*/


/* Comment Section CSS */


/* -----------------------------------------------------------------------*/
/* Comment Section Main Container */

#comments-section-main-container {
    display: flex;
    border: 1px solid yellow;
    background-color: white;
}
