#post-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 50px;

    width: 700px;
    border: 1px solid black;

    /* background-color: green; */
}

#post-left-container {
    display: flex;
    justify-content: flex-start;

    /* border: 1px solid blue; */
}

#post-upvote-container {
    display: flex;
    flex-direction: column;

    /* background-color: white; */
}

#post-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 600px;

    /* background-color: orange; */
}

#post-body-container {
    display: flex;
    flex-direction: column;
}
