/* -----------------------------------------------------------------------*/


/* NavBarLoggedIn (LI) Navbar CSS */


/* -----------------------------------------------------------------------*/


/* LI Navbar Main Container */

#li-navbar-main-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    height: 49px;
    background-color: #1A1A1B;
    border-bottom: 1px solid #343536;
}


/* -----------------------------------------------------------------------*/
/* LI Navbar Left Section */

#li-navbar-left {
    display: flex;
    text-decoration: none;
}

#li-navlink {
    text-decoration: none;
}

#li-navbar-reddit-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1vw;
    height: 49px;
}

#li-navbar-reddit-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
    height: 35px;
    width: 35px;

    border-radius: 90px;
    background-color: #ff4500;
}

#li-navbar-reddit-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3px;
    padding-left: 3px;

    color: white;
}

#li-navbar-reddit-text {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


/* -----------------------------------------------------------------------*/
/* LI Navbar Middle Section */

#li-navbar-search-bar {
    height: 35px;
    width: 100%;

    border: 0.1px solid #808283;
    border-radius: 50px;

    color: #808283;
    background-color: #272729;
}

#li-navbar-search-bar:hover {
    background-color: #1A1A1B;
    border: 1px solid white;
}


/* -----------------------------------------------------------------------*/
