/* TODO Add site wide styles */

html, body {
    margin: 0px;
    padding: 0px;

    background-color: #030303;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
