/* -----------------------------------------------------------------------*/


/* AllPosts Individual Post CSS */


/* -----------------------------------------------------------------------*/
/* Individual Post Container */

#individual-post-main-container {
    display: flex;
    flex-direction: column;

    margin-top: 3px;
    margin-left: 3px;
    width: 600px;

    color: white;
}

/* #individual-post-main-container:hover {
    cursor: pointer;
    border: 1px solid #818384;
} */


/* -----------------------------------------------------------------------*/
/* Individual Post Header Container */

#individual-post-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

#individual-post-header-subreddit-information {
    margin-right: 10px;

    font-size: 12px;
    font-weight: bold;
    color: white;
}

#individual-post-header-subreddit-information:hover {
    cursor: pointer;
    text-decoration: underline;
}

#individual-post-header-poster-information {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #818384;
}

#individual-post-header-poster {
    margin-left: 3px;
}

#individual-post-header-poster:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* -----------------------------------------------------------------------*/
/* Individual Post Body Container */

#individual-post-body-container {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 20px;

    color: #D7DADC;
}

#individual-post-title {
    display: flex;
    align-items: center;

    font-size: larger;
    font-weight: bolder;

    color: #D7DADC;
}

#individual-post-body {
    display: flex;
    align-items: center;

    margin-top: 5px;
    margin-right: 5px;

    word-break: normal;
}


/* -----------------------------------------------------------------------*/
/* Individual Post Footer Container */

#individual-post-footer-container {
    display: flex;
    flex-direction: row;
}

#individual-post-footer-container>* {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 40px;
    width: fit-content;

    color: #818384;
}


#individual-post-footer-comments-container {
    font-weight: bold;
    font-size: 13px;
}

#individual-post-footer-comments-container:hover {
    background-color: #2D2D2F;
}

#individual-post-footer-comments-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}

#individual-post-footer-dots-container:hover {
    background-color: #2D2D2F;
}

#individual-post-footer-dots-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}
