/* -----------------------------------------------------------------------*/


/* Not Logged In (NLI) Navbar CSS */


/* -----------------------------------------------------------------------*/
/* NLI Navbar Main Container */

#nli-navbar-main-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    align-items: center;

    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    height: 49px;
    background-color: #1A1A1B;
    border-bottom: 1px solid #343536;
}


/* -----------------------------------------------------------------------*/
/* NLI Navbar Left Section */

#nli-navbar-left {
    display: flex;
    text-decoration: none;
}

#nli-navlink {
    text-decoration: none;
}

#nli-navbar-reddit-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1vw;
    height: 49px;
}

#nli-navbar-reddit-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
    height: 35px;
    width: 35px;

    border-radius: 90px;
    background-color: #ff4500;
}

#nli-navbar-reddit-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3px;
    padding-left: 3px;

    color: white;
}

#nli-navbar-reddit-text {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


/* -----------------------------------------------------------------------*/
/* NLI Navbar Middle Section */


#nli-navbar-search-bar {
    height: 35px;
    width: 100%;

    border: 0.1px solid #808283;
    border-radius: 50px;

    color: #808283;
    background-color: #272729;
}

#nli-navbar-search-bar:hover {
    background-color: #1A1A1B;
    border: 1px solid white;
}


/* -----------------------------------------------------------------------*/
/* NLI Navbar Right Section */

#nli-navbar-right {
    display: flex;
    flex-direction: row;

    margin-right: 1vw;
    justify-content: end;

}

#nli-right-buttons {
    margin-left: 10px;
}

#nli-right-buttons>*:hover {
    cursor: pointer;
}

#nli-right-buttons>* {
    height: 30px;
    padding-left: 2vw;
    padding-right: 2vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 30px;
}


#nli-signup {
    color: #D7DADC;
    border: 1px solid #D7DADC;
    background-color: #1A1A1B;
}

#nli-login {
    color: #1A1A1B;
    background-color: #D7DADC;
}

#nli-login:hover {
    background-color: #C7CACC;
    cursor: pointer;
}
