/* -----------------------------------------------------------------------*/


/* SubredditPageBar CSS */


/* -----------------------------------------------------------------------*/
/* Subreddit Page Bar Main Container */

#subreddit-bar-main-container {
    display: flex;
    flex-direction: column;

    /* height: 250px; */
    width: 285px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;

    border: 1px solid #474748;
    border-radius: 5px;

    background-color: #1A1A1B;
}


/* -----------------------------------------------------------------------*/
/* Subreddit Page Bar Header Container */

#subreddit-bar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 35px;
}

#subreddit-bar-header {
    margin-top: 5px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
    font-weight: bold;
    color: #818384;
}

#subreddit-bar-edit-container {
    display: flex;
    align-items: flex-start;
}

#subreddit-bar-edit-button-container {
    border: none;

    color: white;
    background-color: transparent;
}

#subreddit-bar-edit-button-container:hover {
    cursor: pointer;
    /* background-color: ; */
}

/* -----------------------------------------------------------------------*/
/* Subredit Page Bar Description Container */

#subreddit-bar-description-container {
    display: flex;

    padding-top: 15px;
    padding-bottom: 15px;

    color: white;
}

#subreddit-bar-date-container {
    display: flex;

    padding-bottom: 15px;

    border-bottom: 1px solid #343536;

    color: #818384;
}

#subreddit-bar-description-body {
    display: inline-block;
    align-items: center;

    height: 100%;
    width: 280px;

    overflow-wrap: break-word;

    color: white;
    background-color: #1A1A1B;
}


/* -----------------------------------------------------------------------*/
/* Subredit Page Bar Edit Description */

#subreddit-bar-edit-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 10px;

    height: 100%;
    width: 275px;

    border-radius: 5px;
    background-color: #1A1A1B;
    border: 1px solid #C8CBCD;

}

#subreddit-bar-edit-input-container {
    height: auto;
}

#subreddit-bar-edit-input {
    margin: 10px;

    height: 100px;
    width: 250px;

    overflow-y: scroll;
    word-break: break-all;

    outline: none;
    border: none;
    resize: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1A1A1B;
}


#subreddit-bar-edit-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px;
    margin-top: 0px;
}


#subreddit-bar-button-container {
    display: flex;
    flex-direction: row;
}

#subreddit-bar-button-container>* {
    margin-left: 5px;
}


#subreddit-bar-edit-footer-length {
    display: flex;
    align-items: center;

    font-size: 12px;
    color: #C8CBCD;
}

#subreddit-bar-cancel-button {
    border: none;

    font-size: 11px;
    font-weight: bold;
    color: red;
    background-color: transparent;

    cursor: pointer
}

#subreddit-bar-save-button-container {
    display: flex;
    margin: 10px;
}

#subreddit-bar-save-button {
    border: none;

    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: transparent;

    cursor: pointer;
}


/* -----------------------------------------------------------------------*/
/* Subreddit Page Bar Create Post Container */

#subreddit-bar-create-post-container {
    display: flex;
    justify-content: center;

    margin-top: 15px;
    margin-bottom: 10px;
}

#subreddit-bar-create-post-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 100%;

    border: none;
    border-radius: 35px;

    font-weight: bold;
    font-size: 14px;

    color: #1A1A1B;
    background-color: #D7DADC;
}

#subreddit-bar-create-post-button:hover {
    cursor: pointer;
    background-color: #C8CBCD;
}

#subreddit-bar-create-post-empty {
    margin-top: 10px;

    font-size: smaller;
    color: #818384;
}


/* -----------------------------------------------------------------------*/
/* Subreddit Page Bar Delete Subreddit Container */

#subreddit-bar-delete-subreddit-container {
    display: flex;
    justify-content: center;

    margin-top: 15px;
    margin-bottom: 10px;
}

#subreddit-bar-delete-subreddit-button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 100%;

    border: none;
    border-radius: 35px;

    font-weight: bold;
    font-size: 14px;

    color: #1A1A1B;
    background-color: #D7DADC;
}

#subreddit-bar-delete-subreddit-button:hover {
    cursor: pointer;
    background-color: #C8CBCD;
}
