/* -----------------------------------------------------------------------*/


/* Sign Up Modal Form CSS */


/* -----------------------------------------------------------------------*/
/* Modal Main Container */

#signup-modal-main-container {
    display: flex;
    flex-direction: column;

    width: 400px;

    border-radius: 10px;

    background-color: white;
}


/* -----------------------------------------------------------------------*/
/* Form Modal Exit Container */

#signup-modal-exit-container {
    display: flex;
    justify-content: flex-end;
}

#signup-modal-exit-button {
    margin: 10px;

    border: none;

    color: #878A8C;
    background-color: inherit;
}

#signup-modal-exit-button:hover {
    cursor: pointer;
}



/* -----------------------------------------------------------------------*/
/* Form Modal Main Container */

#signup-form-modal-main-container {
    display: flex;
    flex-direction: column;

    margin: 50px;
    margin-top: 15px;
}

#signup-form-modal-text-container {
    font-size: 14px;
}


/* -----------------------------------------------------------------------*/
/* Form Modal Email Section */

#signup-form-modal-email-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    width: 100%;
}

#signup-form-modal-email-input {
    padding-left: 20px;

    height: 35px;
    width: 100%;

    border: 1px solid white;
    border-radius: 35px;

    background-color: #F6F7F8;
}

#signup-form-modal-email-input:hover {
    border: 1px solid #C5C6C6;
}


/* -----------------------------------------------------------------------*/
/* Form Modal Password Section */

#signup-form-modal-password-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    width: 100%;
}

#signup-form-modal-password-input {
    padding-left: 20px;

    height: 35px;
    width: 100%;

    border: 1px solid white;
    border-radius: 35px;

    background-color: #F6F7F8;
}

#signup-form-modal-password-input:hover {
    border: 1px solid #C5C6C6;
}


/* -----------------------------------------------------------------------*/
/* Form Modal Username Section */

#signup-form-modal-username-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    width: 100%
}

#signup-form-modal-username-input {
    padding-left: 20px;

    height: 35px;
    width: 100%;

    border: 1px solid white;
    border-radius: 35px;

    background-color: #F6F7F8;
}

#signup-form-modal-username-input:hover {
    border: 1px solid #C5C6C6;
}


/* -----------------------------------------------------------------------*/
/* Form Modal Sign Up Section */

#signup-form-modal-signup-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

#signup-form-signup-button {
    height: 35px;
    width: 100%;

    border: none;
    border-radius: 35px;

    color: white;
    background-color: #D93A00;
}

#signup-form-signup-button:hover {
    cursor: pointer;

    background-color: #DC4A14;
}


/* -----------------------------------------------------------------------*/
