/* -----------------------------------------------------------------------*/


/* SubredditCreateForm CSS */


/* -----------------------------------------------------------------------*/
/* Modal Button CSS */

#subreddit-create-modal-button {
    border: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
    background-color: transparent;
}

#subreddit-create-modal-button:hover {
    cursor: pointer;
}

#modal-background {
    opacity: 0.5;
    background-color: black;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Main Container */


#subreddit-modal-main-container {
    width: 500px;

    border: 1px solid #343536;
    border-radius: 5px;

    background-color: #1A1A1B;
}

#header-container-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 15px;
    padding-bottom: 15px;

    width: 470px;

    border-bottom: 1px solid #818384;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Title Container */

#header-title {
    display: flex;

    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: white;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Exit Container */

#header-exit-button {
    border: none;
    background-color: inherit;
}

#header-exit-button:hover {
    cursor: pointer;
}

#header-exit-icon {
    color: #818384;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Instructions Container */

#header-name-container {
    display: flex;
    flex-direction: column;

    margin: 15px;
}

#header-description-container {
    display: flex;
    flex-direction: column;

    margin: 15px;
}

#header-name {
    margin-bottom: 5px;

    font-size: 16px;
    color: white;

}

#header-description {
    margin-bottom: 5px;

    font-size: 16px;
    color: white;
}

#header-warning {
    font-size: 12px;
    color: #818384;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Name Input Container */

#subreddit-name-input-main-container {
    display: flex;
    flex-direction: row;

    margin: 15px;
    padding: 10px;

    border: 1px solid #818384;
    border-radius: 3px;
}

#subreddit-name-input-r {
    color: #818384;
}

#subreddit-name-input-container {
    width: 100%;

    border: none;

    color: #818384;
    background-color: inherit;
}

#subreddit-name-input-container:focus {
    outline: none;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Name Input Error Handling Section */

#header-characters-remaining {
    margin-left: 15px;

    font-size: 12px;
    color: #818384;
}

#header-error-container {
    margin-left: 15px;
    margin-top: 5px;

    font-size: 12px;
    color: #FF0000;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Description Input Container */

#subreddit-description-input-main-container {
    display: flex;
    flex-direction: row;

    margin: 15px;
    padding: 10px;

    border: 1px solid #818384;
    border-radius: 3px;
}


#subreddit-description-input {
    width: 100%;
    height: 125px;

    border: none;

    resize: none;


    word-break: normal;

    color: #818384;
    background-color: inherit;
}

#subreddit-description-input:focus {
    outline: none;
}


/* -----------------------------------------------------------------------*/
/* Modal Form Footer Container */

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-right: 15px;

    height: 75px;

    background-color: #343536;
}

#footer-container>* {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;

    height: 35px;

    border: none;
    border-radius: 45px;

    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}

#footer-cancel-button {
    border: 1px solid white;
    color: white;
    background-color: #343536;
}

#footer-cancel-button:hover {
    cursor: pointer;
    background-color: #3A3B3D;
}

#footer-create-subreddit-button:hover {
    cursor: pointer;
    background-color: #C8CBCD;
}
