/* -----------------------------------------------------------------------*/


/* SubredditPagePosts CSS */


/* -----------------------------------------------------------------------*/
/* Subreddit Posts Main Container */

#subreddit-post-main-container {
    display: grid;
    grid-template-columns: 1fr 14fr;

    margin-top: 10px;

    width: 650px;

    border: 1px solid #343536;
    border-radius: 5px;
}

#subreddit-post-main-container:hover {
    cursor: pointer;
    border: 1px solid #818384;
}


/* -----------------------------------------------------------------------*/
/* Subreddit Posts Left Container */

#subreddit-post-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding-top: 10px;
    background-color: #151516;

}

#subreddit-post-upvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#subreddit-post-upvote-button:hover {
    color: #CC3700;
    background-color: #2A2A2B;
}

#subreddit-post-downvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#subreddit-post-downvote-button:hover {
    color: #5A75CC;
    background-color: #2A2A2B;
}

#subreddit-post-vote-counter {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
    font-weight: bold;

    color: #D7DADC;
}



/* -----------------------------------------------------------------------*/
/* Subreddit Posts Right Container */

#subreddit-post-right-container {
    display: flex;
    flex-direction: column;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-left: 5px;
    background-color: #1A1A1B;
}

/* -----------------------------------------------------------------------*/
/* Subreddit Posts Header Container */

#subreddit-post-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;

    font-size: small;
    color: #818384;
}

#subreddit-post-header-subreddit-post-information {
    margin-left: 3px;
}

#subreddit-post-header-subreddit-post-information:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* -----------------------------------------------------------------------*/
/* Subreddit Posts Body Container */


#subreddit-post-body-container {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 20px;

    color: #D7DADC;
}

#subreddit-post-title {
    display: flex;
    align-items: center;

    font-size: larger;
    font-weight: bolder;

    color: #D7DADC;
}

#subreddit-post-body {
    display: flex;
    align-items: center;

    margin-top: 5px;
    margin-right: 5px;

    word-break: normal;
}


/* -----------------------------------------------------------------------*/
/* Subreddit Posts Footer Container */

#subreddit-post-footer-container>* {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 40px;
    width: fit-content;

    color: #818384;
}


#subreddit-post-footer-comments {
    font-weight: bold;
    font-size: 13px;
}

#subreddit-post-footer-comments:hover {
    background-color: #2D2D2F;
}

#subreddit-post-footer-comments-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}


/* -----------------------------------------------------------------------*/
/* Subreddit No Posts Container */

#subreddit-no-posts-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 650px;

    margin-top: 10px;

    border: 1px solid #343536;
    border-radius: 5px;

    background-color: #1A1A1B;
}

#subreddit-no-post-title {
    display: flex;
    align-items: center;

    margin: 10px;

    font-size: larger;
    font-weight: bolder;

    color: #D7DADC;
}

#subreddit-no-post-unhappy-face {
    margin-left: 5px;
}

#subreddit-no-post-body {
    margin: 10px;
    margin-top: 5px;
    margin-right: 5px;

    word-break: normal;

    color: #D7DADC;
}

#subreddit-no-post-wink-face {
    margin-left: 5px;
}
