/* -----------------------------------------------------------------------*/


/* AllPosts CSS */


/* -----------------------------------------------------------------------*/
/* All Posts Main Container */

#all-posts-main-container {
    display: flex;
    flex-direction: row;

    margin-top: 10px;

    border: 1px solid #343536;
    border-radius: 5px;

    background-color: #1A1A1B;
}

#all-posts-main-container:hover {
    cursor: pointer;
    border: 1px solid #818384;
}


/* -----------------------------------------------------------------------*/
/* All Posts Left Section */

#all-posts-left-section {
    display: flex;
    justify-content: center;

    border-radius: 5px;

    width: 40px;

    background-color: #151516;
}
