/* -----------------------------------------------------------------------*/


/* AllPosts CSS */


/* -----------------------------------------------------------------------*/
/* All Posts Main Container */

#post-main-container {
    display: grid;
    grid-template-columns: 1fr 14fr;

    margin-top: 10px;

    width: 650px;

    z-index: -1;

    border: 1px solid #343536;
    border-radius: 5px;
}

#post-main-container:hover {
    cursor: pointer;
    border: 1px solid #818384;

    z-index: -1;
}


/* -----------------------------------------------------------------------*/
/* All Posts Left Container */

#post-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding-top: 10px;
    background-color: #151516;

}

#post-upvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#post-upvote-button:hover {
    color: #CC3700;
    background-color: #2A2A2B;
}

#post-downvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#post-downvote-button:hover {
    color: #5A75CC;
    background-color: #2A2A2B;
}

#post-vote-counter {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
    font-weight: bold;

    color: #D7DADC;
}



/* -----------------------------------------------------------------------*/
/* All Posts Right Container */

#post-right-container {
    display: flex;
    flex-direction: column;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-left: 5px;
    background-color: #1A1A1B;
}

#post-header-subreddit-information {
    margin-right: 10px;

    font-size: small;
    font-weight: bold;
    color: white;
}

#post-header-subreddit-information:hover {
    cursor: pointer;
    text-decoration: underline;
}

#post-header-no-subreddit {
    margin-right: 10px;

    font-size: small;
    font-weight: normal;
    color: #818384;
}

#post-header-no-subreddit:hover {
    /* cursor:  */
    text-decoration: none;
}

#post-header-post-information {
    display: flex;
    flex-direction: row;
}

#post-header-poster {
    margin-left: 3px;
}

#post-header-poster:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* -----------------------------------------------------------------------*/
/* All Posts Header Container */

#post-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
}


/* -----------------------------------------------------------------------*/
/* All Posts Body Container */


#post-body-container {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 20px;

    color: #D7DADC;

}

#post-title {
    display: flex;
    align-items: center;

    font-size: larger;
    font-weight: bolder;

    color: #D7DADC;
}

#post-body {
    display: flex;
    align-items: center;

    margin-top: 5px;
    margin-right: 5px;

    word-break: break-all;
}

#post-header-post-information {
    font-size: small;
    color: #818384;
}


/* -----------------------------------------------------------------------*/
/* All Posts Footer Container */

#post-footer-container {
    display: flex;
    flex-direction: row;
}

#post-footer-container>* {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 40px;
    width: fit-content;

    color: #818384;
}


#post-footer-comments-container {
    font-weight: bold;
    font-size: 13px;
}

#post-footer-comments-container:hover {
    background-color: #2D2D2F;
}

#post-footer-comments-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}

#post-footer-dots-container:hover {
    background-color: #2D2D2F;
}

#post-footer-docts-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}

/* -----------------------------------------------------------------------*/
