/* -----------------------------------------------------------------------*/


/* UsersPage CSS */


/* -----------------------------------------------------------------------*/
/* Main */

#users-posts {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#user-posts-user {
    display: flex;
    justify-content: center;

    margin-top: 75px;
    margin-bottom: 10px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: white;
}

/* -----------------------------------------------------------------------*/
/* Users Posts Main Container */

#user-posts-main-container {
    display: grid;
    grid-template-columns: 1fr 14fr;

    margin-top: 10px;

    width: 650px;

    border: 1px solid #343536;
    border-radius: 5px;
}

#user-posts-main-container:hover {
    cursor: pointer;
    border: 1px solid #818384;
}


/* -----------------------------------------------------------------------*/
/* Users Post Left Container */

#user-posts-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding-top: 10px;
    background-color: #151516;
}

#post-upvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#post-upvote-button:hover {
    color: #CC3700;
    background-color: #2A2A2B;
}

#post-downvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#post-downvote-button:hover {
    color: #5A75CC;
    background-color: #2A2A2B;
}

#post-vote-counter {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
    font-weight: bold;

    color: #D7DADC;
}


/* -----------------------------------------------------------------------*/
/* Users Post Right Container */

#user-posts-right-container {
    display: flex;
    flex-direction: column;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-left: 5px;
    background-color: #1A1A1B;
}

/* -----------------------------------------------------------------------*/
/* User Posts Header Container */

#user-posts-header-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
}

#user-posts-header-subreddit-information {
    margin-right: 10px;

    font-size: small;
    font-weight: bold;
    color: white;
}

#user-posts-header-subreddit-information:hover {
    cursor: pointer;
    text-decoration: underline;
}

#user-posts-header-no-subreddit {
    margin-right: 10px;

    font-size: small;
    font-weight: normal;
    color: #818384;
}

#user-posts-header-no-subreddit:hover {
    text-decoration: none;
}

#user-posts-header-poster-container {
    display: flex;
    flex-direction: row;
    font-size: small;
    color: #818384;
}

#user-post-header-poster {
    margin-left: 3px;
}

#user-post-header-poster:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* -----------------------------------------------------------------------*/
/* User Posts Body Container */

#user-posts-post-container {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 20px;

    color: #D7DADC;
}

#user-post-title {
    display: flex;
    align-items: center;

    font-size: larger;
    font-weight: bolder;

    color: #D7DADC;
}

#user-post-body {
    display: flex;
    align-items: center;

    margin-top: 5px;
    margin-right: 5px;

    word-break: break-all;
}


/* -----------------------------------------------------------------------*/
/* User Posts Footer Container */

#user-posts-footer-container {
    display: flex;
    flex-direction: row;
}

#user-posts-footer-container>* {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 40px;
    width: fit-content;

    color: #818384;
}

#user-post-footer-comments-container{
    font-weight: bold;
    font-size: 13px;
}

#user-post-footer-comments-container:hover {
    background-color: #2D2D2F;
}

#user-post-footer-comments-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}

#user-post-footer-dots-container:hover {
    background-color: #2D2D2F;
}

#user-post-footer-dots-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
    margin-top: 2px;
}
