/* -----------------------------------------------------------------------*/


/* Nav Bar Profile Menu Button CSS */


/* -----------------------------------------------------------------------*/
#navbar-profile-main-container {
    display: flex;
    justify-content: flex-end;

    margin-right: 10px;
}

#navbar-profile-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 40px;
    width: 210px;

    border: 1px solid #1A1A1B;
    background-color: #1A1A1B;
}

#navbar-profile-menu-button:hover {
    cursor: pointer;

    border: 1px solid #343536;
    border-radius: 4px;
}

#navbar-profile-menu-button > * {
    display: flex;
    align-items: center;
    color: #D7DADC;
}

#navbar-profile-menu-profile-pic-container {
    display: flex;
    align-items: center;

    margin: 3px;
    margin-right: 5px;
}

#navbar-profile-menu-profile-pic {
    border-radius: 45px;
}

#navbar-profile-menu-arrow {
    color: #808283;
}

#navbar-profile-menu-name {
    display: flex;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
