#create-post-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;

    height: 55px;
    width: 650px;

    border: 1px solid #343536;
    border-radius: 5px;

    background-color: #1A1A1B;
}

#create-post-user-profile-container {
    display: flex;
    align-items: center;

    margin: 10px;
}

#create-post-user-profile-pic {
    border-radius: 90px;
}


#create-post-input-container {
    display: flex;

    margin-right: 10px;

    width: 100%;
    height: 40px;
}

#create-post-button {
    display: flex;
    align-items: center;

    padding: 10px;

    width: 100%;

    border: 1px solid #343536;
    border-radius: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #868789;
    background-color: #272729;
}

#create-post-button:hover {
    cursor: pointer;

    border: 1px solid #D7DADC;

    background-color: #1A1A1B;
}
