
#likes-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#likes-upvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#likes-upvote-button:hover {
    color: #CC3700;
    background-color: #2A2A2B;
}

#likes-downvote-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #7E8184;
}

#likes-downvote-button:hover {
    color: #5A75CC;
    background-color: #2A2A2B;
}

#likes-vote-counter {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
    font-weight: bold;

    color: #D7DADC;
}
